<?xml version="1.0"?>
<launch>
  <!-- Load joint definitions. -->  
  <rosparam file="$(find joint_level_control)/config/joints.yaml" command="load" />
  <include file="$(find triped_description)/launch/triped_description.launch"/>
 
  <!-- Start hardware interfaces and assigned controller. -->
  <!-- Address joint via namespace. -->
  <!-- Namespace have to match the joints defined in joints.yaml. -->

	  <!-- Start swing joint left. -->

  <node name="swing_joint" pkg="joint_level_control" type="swing_joint" output="screen" ns="swing/left/joint" />
  <node name="controller_spawner" pkg="controller_manager" type="spawner" respawn="false" output="screen" ns="swing/left/joint"
          args="joint_state_controller position_controller" />         
			   <!-- <node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher" ns="swing/left/joint" />-->
 
	    <!-- Start swing joint right. -->
    <!--
	    <node name="swing_joint" pkg="joint_level_control" type="swing_joint" output="screen" ns="swing/right/joint" />
	    <node name="controller_spawner" pkg="controller_manager" type="spawner" respawn="false" output="screen" ns="swing/right/joint"
          args="joint_state_controller position_controller" />         
	    <node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher" ns="swing/right/joint" />
    -->
    
		    <!-- Start extend joint. -->
	    <!--
		    <node name="extend_joint" pkg="joint_level_control" type="extend_joint" output="screen" ns="extend/joint" />
		    <node name="controller_spawner" pkg="controller_manager" type="spawner" respawn="false" output="screen" ns="extend/joint"
          args="joint_state_controller position_controller" />         
		    <node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher" ns="extend/joint" />
	    -->
   
</launch>
