<?xml version="1.0"?>
<launch>
  <!-- Load joint definitions. -->  
  <rosparam file="$(find joint_level_control)/config/joints.yaml" command="load" />
 
  <!-- Start hardware interfaces and assigned controller. -->
 
    <!-- Start swing joint right. -->
    <node name="swing_joint" pkg="joint_level_control" type="swing_joint" output="screen" ns="swing_joint_right" />
    <node name="controller_spawner" pkg="controller_manager" type="spawner" respawn="false" output="screen" ns="swing_joint_right"
          args="joint_state_controller position_controller" />         
    <node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher" ns="swing_joint_right" />
    
    <!-- Start swing joint left. -->
    <node name="swing_joint" pkg="joint_level_control" type="swing_joint" output="screen" ns="swing_joint_left" />
    <node name="controller_spawner" pkg="controller_manager" type="spawner" respawn="false" output="screen" ns="swing_joint_left"
          args="joint_state_controller position_controller" />         
    <node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher" ns="swing_joint_left" />
    
    <!-- Start extend joint. -->
    <node name="swing_joint" pkg="joint_level_control" type="swing_joint" output="screen" ns="swing_joint_left" />
    <node name="controller_spawner" pkg="controller_manager" type="spawner" respawn="false" output="screen" ns="swing_joint_left"
          args="joint_state_controller position_controller" />         
    <node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher" ns="swing_joint_left" />
   
</launch>
